/* -----------------------------------------
  Pallette -  #7BC4C8 / #1C9EAF
--------------------------------------------- */

body {
  text-align: center;
  font-family: 'Slabo 27px', serif;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Amatica SC', cursive;
}

h1 {
	font-size: 4em;
	margin: 1em 0 0;
}

a {
  color:  #888;
  font-family: 'Amatica SC', cursive;
  text-decoration: none;
}

p {
	font-size: 1.1em;
  line-height: 1.35em;
  text-align: left;
  padding: 1.15em 1.4em;
}

ul {
  margin-top: 2em;
}

ul li {
  font-size: 1.2em;
  line-height: 1.3em;
  text-align: left;
  padding: 1em 0 0;
}

.button {
	text-align: center;
	outline: medium none;
	font-weight: bold;
	padding: 15px 28px;
	display: inline-block;
	border: 2px solid #fff;
	color: #fff;
	border-radius: 20px;
	font-size: 32px;
	transition: color 0.1s ease-in 0s;
	max-width: 100%;
	background: url("../images/lavabutton.png");
	margin-top: 20px;
  text-decoration: none;
}

.maintitle {
	font-size: 60px;
}

.introtitle {
  font-size: 5em;
  margin: 0.4em 0 0.1em;
  color: #5FB8BE;
}

.introtitle span {
  color: #1C9EAF;
}

.introsubtitle {
  font-size: 40px;
  margin: 0;
}

.mainbutton {
  margin-top: 0;
  position: absolute;
  bottom: 0em;
}

.credits {
  padding: 7px 0;
}

.column {
  display: inline-block;
  vertical-align: top;
  padding: 20px 0;
}

.col-3 {
  width: 30%;
}

.col-9 {
  width: 60%;
}

section {
  min-height: 90vh;
  padding: 1.8em 5em 0.5em;
  border-top: 2px dashed #ccc;
  background: url("../images/back.png");
  position: relative;
}

.mini {
  min-height: 0;
  height: 4.5em;
  background: none;
  background-color: #1C9EAF;
  z-index: 100;
  position: relative;
  border-top: 2px dashed #fff;
}

.mini h1 {
  color: #fff;
  margin: 0;
  font-size: 2.5em;
}

canvas {
  padding: 0;
  margin: -1.7em 0 4em;
}


/* -----------------------------------------
  Main Site Sections
--------------------------------------------- */

#covertop {
  width: 100%;
  height: 50px;
  z-index: 9999;
  background-image: url('../images/topring.png');
  background-position: 0 0px;
}

.zombie,
.ninja {
  margin-top: 35px;
  width: 80%;
  height: 80%;
}

.instruct-images {
  height: 30%;
  width: 30%;
}

#roadmap {
  background: none;
  background-color: #0F0F0F ;
  color: #fff;
  border-top: 0;
  border-bottom: 10px solid #1C9EAF;
}

#room {
  background: url("");
  position: relative;
  height: 94vh;
  border-top: 0px;
  background-color: #fff;
  padding: 3vh 0;
  border-top: 10px solid #1C9EAF;
  z-index: 5;
}

#room-content {
  background: url("../images/room.png");
  position: absolute;
  z-index: 100;
  width: 100%;
  height: 100%;
  background-size: cover;
  margin: 4em 0 0;
}

#particles-js{
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  position: absolute;
  z-index: 10;
}

/* -----------------------------------------
  Ruler Navigation Bar
--------------------------------------------- */

#navbar {
  position: fixed;
  height: 100%;
  width: 7%;
  background: url("../images/ruler.png");
  background-size: cover;
  right: 0;
  top: 0;
  z-index: 1;
  box-shadow:  0px 0px 15px 1px #888;
}

#navbar a{
  width: 100%;
}

.vertical-text-bottom {
  transform: rotate(90deg);
  transform-origin: left top 0;
  position: absolute;
  font-size: 1.2em;
  font-family: 'Amatica SC', cursive;
  line-height: 1.2em;
  right: -340px;
  bottom: 270px;
  color: #1C9EAF;
}

#cd-vertical-nav {
  position: fixed;
  right: 2%;
  top: 30%;
  bottom: auto;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  z-index: 1;
}

#cd-vertical-nav li {
  text-align: right;
}

#cd-vertical-nav a {
  display: inline-block;
  /* prevent weird movements on hover when you use a CSS3 transformation - webkit browsers */
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

#cd-vertical-nav a:after {
  content: "";
  display: table;
  clear: both;
}

#cd-vertical-nav a span {
  float: right;
  display: inline-block;
  -webkit-transform: scale(0.6);
  -moz-transform: scale(0.6);
  -ms-transform: scale(0.6);
  -o-transform: scale(0.6);
  transform: scale(0.6);
}

#cd-vertical-nav a:hover span {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}

#cd-vertical-nav a:hover .cd-label {
  opacity: 1;
  background: #1C9EAF;
  padding: 1em 2.2em 1em 1em ;
  border-radius: 8px;
}

#cd-vertical-nav .cd-dot {
  position: relative;
  /* we set a top value in order to align the dot with the label. If you change label's font, you may need to change this top value*/
  top: 8px;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background-color: #1C9EAF;
  -webkit-transition: -webkit-transform 0.2s, background-color 0.5s;
  -moz-transition: -moz-transform 0.2s, background-color 0.5s;
  transition: transform 0.2s, background-color 0.5s;
  -webkit-transform-origin: 50% 50%;
  -moz-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  -o-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
}

#cd-vertical-nav .cd-label {
  position: relative;
  margin-right: 10px;
  padding: .4em .5em;
  color: white;
  font-size: 14px;
  font-size: 0.875rem;
  -webkit-transition: -webkit-transform 0.2s, opacity 0.2s;
  -moz-transition: -moz-transform 0.2s, opacity 0.2s;
  transition: transform 0.2s, opacity 0.2s;
  opacity: 0;
  -webkit-transform-origin: 100% 50%;
  -moz-transform-origin: 100% 50%;
  -ms-transform-origin: 100% 50%;
  -o-transform-origin: 100% 50%;
  transform-origin: 100% 50%;
  transition-timing-function: ease-in;
}

/* -----------------------------------------
  Let's do a speech Bubble using pure CSS
--------------------------------------------- */

p.speech {
  position: absolute;
  width: 150px;
  height: 100px;
  text-align: center;
  line-height: 23px;
  background-color: #7BC4C8;
  border: 2px solid #fff;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
  z-index: 100;
  bottom: 3em;
  left: 1em;
  font-size: 2em;
  font-weight: 700;
  color: #fff;
}


p.speech:before {
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
  left: 36px;
  top: 172px;
  border: 17px solid;
  border-color: #fff transparent transparent #fff;
  z-index: 100;
}


p.speech:after {
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
  left: 38px;
  top: 172px;
  border: 15px solid;
  border-color: #7BC4C8 transparent transparent #7BC4C8;
  z-index: 100;
}

p.speech a {
  color: #fff;
}


/* -----------------------------------------
  Animation
--------------------------------------------- */

#mainsvg {
  width: 90%;
}

/* make keyframes that tell the start state and the end state of our object */
@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

ul li, p.speech {
  opacity:0;  /* make things invisible upon start */
  -webkit-animation:fadeIn ease-in 1;  /* call our keyframe named fadeIn, use animation ease-in and repeat it only 1 time */
  -moz-animation:fadeIn ease-in 1;
  animation:fadeIn ease-in 1;

  -webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
  -moz-animation-fill-mode:forwards;
  animation-fill-mode:forwards;

  -webkit-animation-duration:1s;
  -moz-animation-duration:1s;
  animation-duration:1s;
}

ul li.one {
  -webkit-animation-delay: 2.7s;
  -moz-animation-delay: 2.7s;
  animation-delay: 2.7s;
}

ul li.two {
  -webkit-animation-delay: 3.6s;
  -moz-animation-delay:3.6s;
  animation-delay: 3.6s;
}

ul li.three {
  -webkit-animation-delay: 4.5s;
  -moz-animation-delay: 4.5s;
  animation-delay: 4.5s;
}


/* -----------------------------------------
  Media Queries
--------------------------------------------- */

@media only screen and (max-width: 768px) {
  .col-3 {
    width: 100%;
  }

  .col-9 {
    width: 100%;
  }
}
