body {
    text-align: center;
    font-family: 'Amatic SC', cursive;
    background: url("../images/paperback.jpg");
}

h1 {
	font-size: 40px;
	margin-bottom: 0px;
}

canvas {
	margin-top: 0px;
	border: 10px solid transparent;
    padding: 0px;
    -webkit-border-image: url(../images/border.png) 30% round; /* Safari 3.1-5 */
    -o-border-image: url(../images/border.png) 30% round; /* Opera 11-12.1 */
    border-image: url(../images/border.png) 30% round;
    background: url("../images/paperback.jpg");
}

